.detail-container{
    width: 100%;
    /* outline-width: 1px;
    outline-color: pink;
    outline-style: solid; */
    margin: 0 auto;
}
.foodpic{
    display: block;
    margin: auto;
}
.col-md-6{
    width: 47%;
    /* outline-width: 1px;
    outline-color: red;
    outline-style: solid; */
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
}
.ingredients{
    width: 49%;
    /* outline-width: 1px;
    outline-color: red;
    outline-style: solid; */
    margin: 0 auto;
}
.instruction-container{
    width: 100%;
    /* outline-width: 1px;
    outline-color: red;
    outline-style: solid; */
    margin: 0 auto;
}
.ingredients-title{
    width: 80%;
    margin: 0 auto;
    text-align: left;
    /* outline-width: 1px;
    outline-color: red;
    outline-style: solid; */
    padding-bottom: 1px;
    margin-bottom: 2px;
    font-family: 'Nunito', sans-serif;
}
.ing-row{
    padding-bottom: 15px;
}
.attr-row{
    width: 85%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;

}
.row-title{
    /* display: inline-block;
    width: 33%; */
    font-size: .8rem;
    margin: 0 auto;
}
.instruction-title{
    text-align: center;
    /* outline-width: 1px;
    outline-color: red;
    outline-style: solid; */
    margin: 0 auto;
    padding-bottom: 5%;
    font-family: 'Nunito', sans-serif;
}
.title-container{
    width: 50%;
}
.instructions{
    font-family: 'Montserrat', sans-serif;
    font-size: .80rem;
    width: 100%;
    /* outline-width: 1px;
    outline-color: red;
    outline-style: solid; */
    margin: 0 auto;
}
ul{
    margin: 0 auto;
    padding: auto;
    text-align: left;
}
.icon1{
    width: 100%;
    list-style-type: none;
}
.icon2{
    padding-left: 1px;
    width: 100%;
    list-style-type: none;
}
li{
    background-position: 100%;
} 
.in{
    padding-left: 20px;
}
hr{
    width: 90%;
}