.ing-text, .ins-text{
    width: 100%;
}
.form-container{
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;

}
.save, .form-container{
    font-family: 'Nunito', sans-serif;
}
