.col-md{
    width: 16%;
    display: inline-block;
    
    /* outline-width: 1px;
    outline-color: red;
    outline-style: solid; */
}
.col-md-12{
    width: 32%;
    display: inline-block;
    /* outline-width: 1px;
    outline-color: red;
    outline-style: solid; */
}
.mb-0{
    width: 50%;
}
.title{
    font-size: 2rem;
}
.fa, .fas{
    padding-right: 5px;
}