.app-container{
    max-width: 800px;
    margin: 0 auto;
}
.card-container{
    width: 100%;
    text-align: center;
    /* outline-style: solid;
    outline-color: red; */
}

.recipe-header{
    background-color: #e3f2fd;
    font-family: Montserrat,sans-serif
}
.recipe-footer{
    height: 60px;
    width: 100%;
    background-color: #e3f2fd;
    font-family: Montserrat,sans-serif
}
.footer-info{
    float: right;
    padding-top: 40px;
    font-family: Montserrat,sans-serif;
    font-size: 0.8rem;
}

.mb-1{
    width: 100%;
    text-align: center;

}
.active{
    display: inline-block;
}
.navflex{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0;
}
.mr-sm-2{
    width: 100%;
}
.cart{
    font-family: Montserrat,sans-serif
}
.cart-container{
    padding-top: 5%;
    width: 70%;
    margin: auto;
}
.card{
    outline-style: solid;
    outline-width: 2px;
    outline-color: #dee2e6;
}