.button-column{
    width: 22%;
    display: inline-block;
    padding-left: 0;
    position: relative;
    padding-right: 4px;
    
    /* outline-width: 1px;
    outline-color: red;
    outline-style: solid; */
}
.desc{
    width: 40%;
    display: inline-block;
    padding-top: 10px;
    /* outline-width: 1px;
    outline-color: red;
    outline-style: solid; */
}
.mb-0{
    width: 35%;
}
.card-title{
    font-size: .8rem;
}
.fa, .fas{
    padding-right: 5px;
}
.button-row{
    width: 100%;
    height: 50%;
}
.btn-sm{
    float: right;
}